@import "mixins";
@import "vars";
@import "vendor/reset";

html {
  font-size: 16x;
}

body {
  font-family: "Europa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $textColor;

  &._lock {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.red {
  color: $accent;
}

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/title";
@import "blocks/footer";
