.intro {
  position: relative;

  padding: 210px 0;
  background: linear-gradient(252.91deg, #e3e7f6 3.68%, rgba(227, 231, 246, 0) 97.82%);

  overflow: hidden;

  @include breakpoint(768px) {
    padding: 185px 0 105px;
  }
  @include breakpoint(480px) {
    padding: 130px 0 50px;
  }

  &__inner {
    &--about {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include breakpoint(1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__block {
    max-width: 530px;

    &--about {
      max-width: 400px;
    }

    &--contact {
      max-width: 500px;
    }

    @include breakpoint(1200px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 32px;

    &--products {
      margin-bottom: 40px;
    }

    @include breakpoint(768px) {
      margin-bottom: 25px;

      &--products {
        margin-bottom: 30px;
      }
    }
    @include breakpoint(480px) {
      margin-bottom: 20px;

      &--products {
        margin-bottom: 25px;
      }
    }
  }

  &__text {
    font-size: 22px;
    line-height: 33px;

    margin-bottom: 40px;

    &--about {
      font-size: 28px;
      line-height: 36px;
    }

    &--contact {
      font-size: 18px;
    }

    @include breakpoint(768px) {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 30px;

      &--about {
        font-size: 22px;
        line-height: 30px;
      }
    }
    @include breakpoint(480px) {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 15px;

      &--about {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }

  &__btn {
    &:first-child {
      margin-right: 16px;
    }

    &--career {
      margin-top: 40px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: -12px;

    max-width: 100%;

    &--about {
      position: static;
    }

    &--contact {
      right: 10%;
    }

    @include breakpoint(1200px) {
      position: static;
    }
  }
}
