.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;

  color: #1a2578;

  @include breakpoint(768px) {
    font-size: 34px;
    line-height: 35px;
  }
  @include breakpoint(480px) {
    font-size: 30px;
    line-height: 30px;
  }

  &--intro {
    font-size: 48px;
    line-height: 62px;

    @include breakpoint(768px) {
      font-size: 38px;
      line-height: 42px;
    }
    @include breakpoint(480px) {
      font-size: 32px;
      line-height: 27px;
    }
  }
}
